<div class="container-fluid" style="background-color:white;margin: 0px !important;padding: 0% !important;">    
    <section class="container pagenotfound" style="margin-top: 9%;width:60%">
        <div class="row">
            <div class="col-lg-10  mx-auto">
                <div class="card">
                    <div class="card-body" style="background-image: linear-gradient(#20ABD6, #2180FC, #665AFA);">
                        <div class="d-flex justify-content-center" style="color:white;margin: 5% 5%;">
                            <div class="col-lg-4" style="margin-top: 2%;">
                                <img src="../../../assets/page lost.png" alt="404 Error" style="height: 200px;width:auto;">
                            </div>
                            <div class="col-lg-6 text-center">
                                <h3>Aw jeez..</h3><br>
                                <h1>404 Error</h1><br>
                                <h4>The page has gone missing</h4><br>
                                <button type="button" class="errorbtn"><a href="/Products/P" style="text-decoration: none;">Go To HOMEPAGE</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>