<!-- <div class="fullpage">
  <div class="sidenav">
    abc
  </div>
  <div class="rightpage">
    <div class="top">
      Top
    </div>
    <div class="middle">
      middle
    </div>
    <div class="content">
      <div class="l-content">
        s
      </div>
      <div class="r-content">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>

































  // "customers": [
  //   {
  //     "logindetails": {
  //       "email": "renith@gmail.com",
  //       "password": "Srk@12345"
  //     },
  //     "personaldetails": {
  //       "firstname": "",
  //       "lastname": ""
  //     },
  //     "addressdetails": {
  //       "Inshippingaddress": "",
  //       "billingaddress": ""
  //     },
  //     "paymentDetails": {
  //       "defaultPaymentmode": "cod",
  //       "cardNumber": "",
  //       "other": ""
  //     }
  //   }
  // ], -->